body{
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#titulo{
    margin: 0;
}

#jogo{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: red;
    height: 77vh;
    width: 90vh;
    gap: 1vh;
    padding: 2vh;
    border-radius: 4vh;
}

.coluna{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 77vh;
    width: 12vh;
    gap: 1vh;
}

.buraco{
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
}

.vazio{
    background-color: white;
}

.azul{
    background-color: blue;
}

.azulFantasma{
    background-color: rgba(78, 78, 255, 0.904);
}

.amarelo{
    background-color: yellow;
}

.amareloFantasma{
    background-color: rgba(255, 255, 79, 0.925);
}

